.nav {
    z-index: 100;
    padding: 20px 0;
    position: fixed;
    width: 100%;
}

.bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(
        177deg,
        rgba(41, 255, 217, 0.7) 0%,
        rgba(43, 89, 255, 0.7) 100%
    );
    box-shadow: 0 0 25px 10px rgba(43, 89, 255, 0.7);

    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.container {
    composes: container from "../../../styles/index.scss";
    display: flex;
    justify-content: space-between;
    height: 120px;
    transition: height 0.4s ease-in-out;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.logo-wrap {
    position: relative;
    height: 100%;
    width: 151px;

    .logo,
    .logo-hover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
        object-position: center;
    }

    .logo-hover {
        z-index: 5;
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }

    &:hover .logo-hover {
        opacity: 1;
    }
}

.nav-scroll {
    padding: 10px 0;

    .bg {
        opacity: 1;
    }

    .logo-wrap {
        width: 75px;
    }

    .container {
        height: 60px;
        align-items: center;
    }
}
