.profit {
    margin: 120px 0;

    h1 {
        text-align: center;
        font-weight: 600;
        font-size: 34px;
        line-height: 140%;
        margin-bottom: 30px;

        span {
            background: linear-gradient(94.73deg, #60b7ff 0%, #e255f3 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.feature-wrap {
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.feature {
    max-width: 590px;
    min-height: 400px;
    box-sizing: border-box;
    padding: 43px 30px 51px;
    background: linear-gradient(180deg, #fafcff 0%, #f1f5fa 100%);
    border-radius: 40px;

    color: #000000;

    .feature__head {
        display: flex;
        align-items: center;
        gap: 14px;
        margin-bottom: 13px;

        h3 {
            font-size: 18px;
            line-height: 140%;
            text-transform: uppercase;
            font-weight: 600px;
        }
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;

        strong {
            font-weight: 600px;
            text-transform: uppercase;
        }
    }
}
