.how {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > img {
        width: 485px;
        height: 489px;
        object-fit: contain;
    }
}

.inner {
    font-size: 16px;
    line-height: 140%;

    & > h1 {
        font-weight: 600;
        font-size: 34px;
        color: #1b1b22;
    }

    & > p {
        margin: 10px 0 46px;
    }
}

.how__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 520px;
}

.how__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > h3 {
        font-weight: 600;
        font-size: 40px;
        line-height: 140%;

        background: linear-gradient(94.73deg, #60b7ff 0%, #e255f3 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    & > p {
        max-width: 450px;

        a {
            font-size: 16px;
            color: #1111ff;
            text-decoration: underline;
        }
    }
}
