.button {
    background: linear-gradient(94.73deg, #f9faff 0%, #ffffff 100%);
    border-radius: 40px;
    border-width: 0;

    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #1111ff;

    transition: all 0.4s ease-in-out;

    &:hover {
        color: #ffffff;
        background: #e255f3;
    }
}
