.swiper-wrap {
    margin-top: 77px;
}

.swiper {
    width: 100%;
}

.plan {
    box-sizing: border-box;
    width: 386px !important;
    height: 340px !important;

    background: #ffffff;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 60px rgba(8, 15, 77, 0.1));
}
