.swiper {
    width: 100%;
    overflow: visible !important;
}

.slide {
    width: 386px !important;
    height: 340px !important;
    background-color: transparent;
}

.nextEl,
.prevEl {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: calc(50% - 22px);
    width: 44px;
    height: 44px;
    background: #1111ff;
    font-size: 16px;
    border-radius: 50%;

    transition: all 0.4s ease-in-out;

    &::after {
        font-size: 22px;
        color: white;
        position: absolute;
        top: calc(50% - 11px);
    }
}
.prevEl {
    left: -22px;

    &::after {
        content: "\276E";
        left: calc(50% - 6px);
    }
}

.nextEl {
    right: -22px;
    &::after {
        content: "\276F";
        right: calc(50% - 6px);
    }
}
