@import "reset.css";
@import "fonts.css";

:root {
    --text-color: #1b1b22;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    cursor: default;
    background-color: white;
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.container {
    position: relative;
    max-width: 1202px;
    margin: 0 auto;
    padding: 0 15px;
}
