.faq {
    padding: var(--nav-padding) 0 var(--bot-padding);

    h1 {
        font-weight: 600;
        font-size: 34px;
        line-height: 140%;
        color: #1c1c1c;
        margin-bottom: 60px;
    }
}

.questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 22px;
}

.question {
    position: relative;
    width: 100%;
    min-height: 61px;
    max-width: 590px;

    & > h3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 16px;
        max-width: 488px;
    }

    & > p {
        font-size: 16px;
        line-height: 140%;
        overflow: hidden;
        transition: max-height 0.4s linear, margin-bottom 0.2s linear;
    }

    & > hr {
        position: absolute;
        margin: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: 1px solid #c8daea;
    }
}

.faq-but {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #f4f4f4;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #080f4d;

    & > p {
        font-size: 25px;
    }

    transition: all 0.4s ease-in-out;
    &:hover {
        color: white;
        background: #1111ff;
    }
}
