.pay {
    margin-top: 120px;
    display: flex;
    gap: 22px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.system {
    width: 182px;
    height: 108px;
    background: #eff7fc;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}
