.contacts {
    align-items: center;
    display: flex;
    gap: 92px;
    color: var(--text-color);
}

.contacts-hide {
    position: absolute;
    opacity: 0;
}

.social {
    align-items: center;
    display: flex;
    gap: 20px;
}

.mail {
    align-items: center;
    display: flex;
    gap: 15px;

    & > :last-of-type {
        margin-left: 15px;
    }
}

.social > a {
    transition: all 0.5s ease-in-out;
}
.social > a:hover {
    transform: scale(1.1) rotate(360deg);
}

.mail > a {
    position: relative;
    transition: all 0.5s ease-in-out;

    &:after {
        content: "";
        display: block;
        position: absolute;

        right: 0;
        bottom: -4px;
        width: 0;
        height: 2px;

        background: #1b1b22;
        transition: all 0.5s ease-in-out;
    }

    &:hover {
        color: #1111ff;

        &:after {
            content: "";
            width: 100%;
            display: block;
            position: absolute;

            left: 0;
            bottom: -4px;
            height: 2px;

            background: #2b66ff;
            transition: all 0.5s ease-in-out;
        }
    }
}
