.background {
    position: absolute;
    z-index: -100;
    width: 100vw;
    height: 100vh;
    // overflow-x: hidden;
}

#particles {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    canvas {
        position: absolute !important;
    }
}

.ball01,
.ball02 {
    z-index: 11;
    position: absolute;
    width: 30%;
    aspect-ratio: 1 / 1;
}
.ball01 {
    top: -30px;
    right: -100px;
    background-color: #2b59ff;
    filter: blur(300px);
}
.ball02 {
    bottom: 0px;
    left: -117px;
    background-color: rgba(41, 255, 217, 0.8);
    filter: blur(200px);
}

.filter {
    z-index: 10;
    position: absolute;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.99) 0%,
        rgba(255, 255, 255, 0.1) 92.21%
    );
}
